<html lang="en">
  <head>
    {% load static %}
    <title>Menu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.min.css" />

    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

  </head>
 <body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <a class="navbar-brand" href="index.html">Tasty</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
             <li class="nav-item"><a href="{% url 'index2' idu %}" class="nav-link">Accueil</a></li>
            <li class="nav-item"><a href="{% url 'listing2'  %}" class="nav-link">Listing</a></li>
            <li class="nav-item"><a href="{% url 'about2'  %}" class="nav-link">À propos</a></li>
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link"><i class="fa fa-sign-out" aria-hidden="true"></i>Se déconnecter</a></li>

          </ul>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->

    <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image: url({% static 'images/bg_1.jpg'%});">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center text-center">
            <div class="col-md-10 col-sm-12 ftco-animate">
              <h1 class="mb-3">Restaurants Selon Votre Convenance</h1>
              <p><a href="{% url 'meilleurs2'  %}" class="btn btn-primary btn-outline-white px-5 py-3">Les Meilleurs Restaurants</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-item" style="background-image: url({% static 'images/bg_2.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center text-center">
            <div class="col-md-10 col-sm-12 ftco-animate">
              <h1 class="mb-3">Decouvrez Les Restaurants à proximité de Vous</h1>
              <p><a href="{% url 'meilleurs2'  %}" class="btn btn-primary btn-outline-white px-5 py-3">Les Meilleurs Restaurants</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-item" style="background-image: url({% static 'images/bg_3.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center text-center">
            <div class="col-md-10 col-sm-12 ftco-animate">
              <h1 class="mb-3">Guide Alimentaire pour Voyageurs</h1>
              <p><a href="{% url 'meilleurs2'  %}" class="btn btn-primary btn-outline-white px-5 py-3">Les Meilleurs Restaurants</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END slider -->
<style type="text/css">

input[type=range] {
  width: 100%;
  margin: 13.8px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #d9d9d9;
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -10px;
  width: 25px;
  height: 25px;
  background: black;
  border: 1px black;
  border-radius: 0%;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 14.8px 0;
  color: transparent;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  width: 16px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}

/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

</style>
<div class="ftco-section-reservation">
      <div class="container">
        <div class="row">
          <div class="col-md-12 reservation pt-5 px-5">
            <div class="block-17">
              <form action="#" method="post" class="d-block d-lg-flex">
                {% csrf_token %}
                <div class="fields d-block d-lg-flex">
                <div class="select-wrap one-third">
                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                    <select name="cuisine" class="form-control">
                      <option value="" disabled selected hidden>Cuisine</option>
                      <option value="Cuisine Traditionnelle">Traditionnelle</option>
                      <option value="Nouvelle Cuisine">Nouvelle</option>
                      <option value="Cuisine Exotique">Exotique</option>
                      <option value="Cuisine Gastronomique">Gastronomique</option>
                      <option value="Cuisine Moléculaire">Moléculaire</option>
                    </select>
                  </div>

                  <div class="select-wrap one-third">
                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                      <select name="plat" class="form-control">
                      <option value="" disabled selected hidden>Plat</option>
                      <option value="Sans Gluten">Sans Gluten</option>
                      <option value="Vegan">Vegan</option>
                      <option value="Végétarien">Végétarien</option>
                      <option value="Riche en protéines">Riche en protéines</option>
                    </select>
                  </div>
                  <div class="textfield-name one-thir">
                     <input type="text" name="allergies" class="form-control" placeholder="des Allergies?" size=27 title="listez vos allergènes séparés par , "/>
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  {{minimum}} $&nbsp;
                  <div class="textfield-name one-thir">
                      <div style="float:left; width:77px;">
                        <input type="range" name="prix_min" min="{{minimum}}" max="{{moyenne}}" id="range1Name" onchange="getvalor(this.value);" oninput="range1Output.innerHTML = range1Name.value" value="{{minimum}}"/>
                      </div>
                      <div style="float:left;width:77px;">
                        <input type="range" name="prix_max" min="{{moyenne}}" max="{{maximum}}" id="range2Name" onchange="getvalor(this.value);" oninput="range2Output.innerHTML = range2Name.value" value="{{maximum}}"/>
                      </div>
                      <div style="height:27px;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span name="prix_min_out" id="range1Output">{{minimum}}</span>$ -
                        <span name="prix_max_out" id="range2Output">{{maximum}}</span>$
                      </div>
                      </div>&nbsp;{{maximum}} $
                  </div>
                  <input type="submit" class="search-submit btn btn-primary" value="Valider&rarr;">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
   <section class="ftco-section bg-light">
      <div class="container">

        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">Decouvrez Le Menu Exclusif de </span>
              <a href="{% url 'rest_detail' Restau.pk %}"><h2>{{ Restau.Nom }}</h2></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 dish-menu">

            <div class="nav nav-pills justify-content-center ftco-animate" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link py-3 px-4 active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><span class="flaticon-dish"></span> Entrée</a>
              <a class="nav-link py-3 px-4" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><span class="flaticon-meat"></span> Principal</a>
              <a class="nav-link py-3 px-4" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><span class="flaticon-cutlery"></span> Dessert</a>
            </div>

            <div class="tab-content py-5" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="row">
				{% for en in Entree %}
                  <div class="col-lg-6" data-toggle="modal" data-target="#exampleModalCenter{{en.pk}}">
                    <div class="menus d-flex ftco-animate">
                      <div class="menu-img" style="background-image: url({{ MEDIA_URL }}{{ en.image }});"></div>
                      <div class="text d-flex">
                        <div class="one-half">
                          <h3>{{ en.Nom }}</h3>
                          <p>
                               {% for ingr in en.ingredients_as_list %}
                                  <span>{{ ingr }}{% if not forloop.last %}, {% else %}...{% endif %}</span>
                                  {% endfor %}
                          </p>
                        </div>
                        <div class="one-forth">
                          <span class="price">${{ en.prix }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="exampleModalCenter{{en.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle"><b>{{ en.Nom }} <span class="flaticon-dish"></span></b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div style="float:left; width:170px;">
                          <img class="menu-img" src="{{ MEDIA_URL }}{{ en.image }}" style="width:137px;height:137px;border-radius: 50%;">
                        </div>
                        <div style="float:left;width:250px;">
                          <span style="color:black;"><b>ingrédients :</b></span>
                            <p>
                              {% for ingr in en.all_ingredients_as_list %}
                                    {{ ingr }}{% if not forloop.last %}, {% else %}.{% endif %}
                              {% endfor %}
                            </p>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div style="float:left; width:350px">{{en.Type_cuisine }} &nbsp;&nbsp;&nbsp;&nbsp;
                        {{ en.get_categorie }}</div>
                        <div style="floar:left; width:50px;"></div>
                        <div style="float:right; color:#ffb401;font-size:17px;"><b><b>{{ en.prix }} $</b></b></div>
                      </div>
                    </div>
                  </div>
                </div>
				{% endfor %}
                </div>
              </div><!-- END -->

              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <div class="row">
				{% for en in Principal %}
              <div class="col-lg-6" data-toggle="modal" data-target="#exampleModalCenter{{en.pk}}">
                    <div class="menus d-flex ftco-animate">
                      <div class="menu-img" style="background-image: url({{ MEDIA_URL }}{{ en.image }});"></div>
                      <div class="text d-flex">
                        <div class="one-half">
                          <h3>{{ en.Nom }}</h3>
                          <p>
                               {% for ingr in en.ingredients_as_list %}
                                  <span>{{ ingr }}{% if not forloop.last %}, {% else %}...{% endif %}</span>
                                  {% endfor %}
                          </p>
                        </div>
                        <div class="one-forth">
                          <span class="price">${{ en.prix }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="exampleModalCenter{{en.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle"><b>{{ en.Nom }} <span class="flaticon-meat"></span></b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div style="float:left; width:170px;">
                          <img class="menu-img" src="{{ MEDIA_URL }}{{ en.image }}" style="width:137px;height:137px;border-radius: 50%;">
                        </div>
                        <div style="float:left;width:250px;">
                          <span style="color:black;"><b>ingrédients :</b></span>
                            <p>
                              {% for ingr in en.all_ingredients_as_list %}
                                    {{ ingr }}{% if not forloop.last %}, {% else %}.{% endif %}
                              {% endfor %}
                            </p>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div style="float:left; width:350px">{{en.Type_cuisine }} &nbsp;&nbsp;&nbsp;&nbsp;
                        {{ en.get_categorie }}</div>
                        <div style="floar:left; width:50px;"></div>
                        <div style="float:right; color:#ffb401;font-size:17px;"><b><b>{{ en.prix }} $</b></b></div>
                      </div>
                    </div>
                  </div>
                </div>
				{% endfor %}
                </div>
              </div><!-- END -->

              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <div class="row">
				{% for en in Dessert %}
                 <div class="col-lg-6" data-toggle="modal" data-target="#exampleModalCenter{{en.pk}}">
                    <div class="menus d-flex ftco-animate">
                      <div class="menu-img" style="background-image: url({{ MEDIA_URL }}{{ en.image }});"></div>
                      <div class="text d-flex">
                        <div class="one-half">
                          <h3>{{ en.Nom }}</h3>
                          <p>
                               {% for ingr in en.ingredients_as_list %}
                                  <span>{{ ingr }}{% if not forloop.last %}, {% else %}...{% endif %}</span>
                                  {% endfor %}
                          </p>
                        </div>
                        <div class="one-forth">
                          <span class="price">${{ en.prix }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="exampleModalCenter{{en.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle"><b>{{ en.Nom }} <span class="flaticon-cutlery"></span></b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div style="float:left; width:170px;">
                          <img class="menu-img" src="{{ MEDIA_URL }}{{ en.image }}" style="width:137px;height:137px;border-radius: 50%;">
                        </div>
                        <div style="float:left;width:250px;">
                          <span style="color:black;"><b>ingrédients :</b></span>
                            <p>
                              {% for ingr in en.all_ingredients_as_list %}
                                    {{ ingr }}{% if not forloop.last %}, {% else %}.{% endif %}
                              {% endfor %}
                            </p>
                        </div>
                      </div>
                       <div class="modal-footer">
                        <div style="float:left; width:350px">{{en.Type_cuisine }} &nbsp;&nbsp;&nbsp;&nbsp;
                        {{ en.get_categorie }}</div>
                        <div style="floar:left; width:50px;"></div>
                        <div style="float:right; color:#ffb401;font-size:17px;"><b><b>{{ en.prix }} $</b></b></div>
                      </div>
                    </div>
                  </div>
                </div>
				{% endfor %}
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>
    </section>
<footer class="ftco-bg-dark">
        <p style="color: aliceblue"><b>@MSIDBD</b></p><br>
    </footer>
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>



  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'js/jquery.timepicker.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="{% static 'js/google-map.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.es6.js" charset="UTF-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.es6.min.js" charset="UTF-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.js" charset="UTF-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js" charset="UTF-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js" charset="UTF-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.es6.min.js" charset="UTF-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.js" charset="UTF-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js" charset="UTF-8"></script>

  </body>


</html>